header,footer{
    display:flex;
    background-color:white;
    padding: 30px;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 15px;
    
}

footer p{
    margin-top: 0;
}


a{

    text-decoration: none;
    color: black;
    padding-right: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

a:hover{
    text-decoration: solid;


}

.anasayfa{
    background-color: azure;
}
.personeller{
    background-color: antiquewhite;
}
.oneriler{
    background-color: aquamarine;
}
.hakkimizda{
    background-color:bisque;
}
.anasayfa img{
    width: 50%;
    height: 50%;
}
.resimler img{
    width: 500px;
    height: 400px;

}
.resimler{
    display: flex;
    flex-direction: column;
}
.oneriler img{
    width: 500px;
    height: 400px;
}
.hakkimizda ul li{
    margin-bottom: 10px;
    background-color: azure;
    padding: 1.8rem;
    border: 1px solid black;
    border-radius: 10px;
}
.icerik{
    display: flex;
    justify-self: start;
}
.icerik form{
    background-color:cornsilk;
    height: 200px;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 5px;
}
h1{
    color: black;
    text-align: center;

}

